/*  your css code here. If applicable */
.grid{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 10px;
	background-color: #444444;
	padding: 20px
}
.grid>img{
	border-radius: 20px;
	width: 150px;
}